@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

.is-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.box:not(:last-child), .notification:not(:last-child) {
  margin-bottom: 1.5rem; }

.is-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

/*! minireset.css v0.0.4 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

img,
embed,
object,
video {
  height: auto;
  max-width: 100%; }

audio {
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0;
  text-align: left; }

html {
  background-color: #fefefe;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%; }

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block; }

body,
button,
input,
select,
textarea {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace; }

body {
  color: #4a4a4a;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5; }

a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none; }
  a strong {
    color: currentColor; }
  a:hover {
    color: #363636; }

code {
  background-color: #F8F8F8;
  color: #ff3860;
  font-size: 0.875em;
  font-weight: normal;
  padding: 0.25em 0.5em 0.25em; }

hr {
  background-color: whitesmoke;
  border: none;
  display: block;
  height: 2px;
  margin: 1.5rem 0; }

img {
  height: auto;
  max-width: 100%; }

input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline; }

small {
  font-size: 0.875em; }

span {
  font-style: inherit;
  font-weight: inherit; }

strong {
  color: #363636;
  font-weight: 700; }

fieldset {
  border: none; }

pre {
  -webkit-overflow-scrolling: touch;
  background-color: whitesmoke;
  color: #4a4a4a;
  font-size: 0.875em;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  white-space: pre;
  word-wrap: normal; }
  pre code {
    background-color: transparent;
    color: currentColor;
    font-size: 1em;
    padding: 0; }

table td,
table th {
  text-align: left;
  vertical-align: top; }

table th {
  color: #363636; }

.is-clearfix::after {
  clear: both;
  content: " ";
  display: table; }

.is-pulled-left {
  float: left !important; }

.is-pulled-right {
  float: right !important; }

.is-clipped {
  overflow: hidden !important; }

.is-size-1 {
  font-size: 3rem !important; }

.is-size-2 {
  font-size: 2.5rem !important; }

.is-size-3 {
  font-size: 2rem !important; }

.is-size-4 {
  font-size: 1.5rem !important; }

.is-size-5 {
  font-size: 1.25rem !important; }

.is-size-6 {
  font-size: 1rem !important; }

.is-size-7 {
  font-size: 0.75rem !important; }

@media screen and (max-width: 768px) {
  .is-size-1-mobile {
    font-size: 3rem !important; }
  .is-size-2-mobile {
    font-size: 2.5rem !important; }
  .is-size-3-mobile {
    font-size: 2rem !important; }
  .is-size-4-mobile {
    font-size: 1.5rem !important; }
  .is-size-5-mobile {
    font-size: 1.25rem !important; }
  .is-size-6-mobile {
    font-size: 1rem !important; }
  .is-size-7-mobile {
    font-size: 0.75rem !important; } }

@media screen and (min-width: 769px), print {
  .is-size-1-tablet {
    font-size: 3rem !important; }
  .is-size-2-tablet {
    font-size: 2.5rem !important; }
  .is-size-3-tablet {
    font-size: 2rem !important; }
  .is-size-4-tablet {
    font-size: 1.5rem !important; }
  .is-size-5-tablet {
    font-size: 1.25rem !important; }
  .is-size-6-tablet {
    font-size: 1rem !important; }
  .is-size-7-tablet {
    font-size: 0.75rem !important; } }

@media screen and (max-width: 1087px) {
  .is-size-1-touch {
    font-size: 3rem !important; }
  .is-size-2-touch {
    font-size: 2.5rem !important; }
  .is-size-3-touch {
    font-size: 2rem !important; }
  .is-size-4-touch {
    font-size: 1.5rem !important; }
  .is-size-5-touch {
    font-size: 1.25rem !important; }
  .is-size-6-touch {
    font-size: 1rem !important; }
  .is-size-7-touch {
    font-size: 0.75rem !important; } }

@media screen and (min-width: 1088px) {
  .is-size-1-desktop {
    font-size: 3rem !important; }
  .is-size-2-desktop {
    font-size: 2.5rem !important; }
  .is-size-3-desktop {
    font-size: 2rem !important; }
  .is-size-4-desktop {
    font-size: 1.5rem !important; }
  .is-size-5-desktop {
    font-size: 1.25rem !important; }
  .is-size-6-desktop {
    font-size: 1rem !important; }
  .is-size-7-desktop {
    font-size: 0.75rem !important; } }

@media screen and (min-width: 1280px) {
  .is-size-1-widescreen {
    font-size: 3rem !important; }
  .is-size-2-widescreen {
    font-size: 2.5rem !important; }
  .is-size-3-widescreen {
    font-size: 2rem !important; }
  .is-size-4-widescreen {
    font-size: 1.5rem !important; }
  .is-size-5-widescreen {
    font-size: 1.25rem !important; }
  .is-size-6-widescreen {
    font-size: 1rem !important; }
  .is-size-7-widescreen {
    font-size: 0.75rem !important; } }

@media screen and (min-width: 1472px) {
  .is-size-1-fullhd {
    font-size: 3rem !important; }
  .is-size-2-fullhd {
    font-size: 2.5rem !important; }
  .is-size-3-fullhd {
    font-size: 2rem !important; }
  .is-size-4-fullhd {
    font-size: 1.5rem !important; }
  .is-size-5-fullhd {
    font-size: 1.25rem !important; }
  .is-size-6-fullhd {
    font-size: 1rem !important; }
  .is-size-7-fullhd {
    font-size: 0.75rem !important; } }

.has-text-centered {
  text-align: center !important; }

.has-text-justified {
  text-align: justify !important; }

.has-text-left {
  text-align: left !important; }

.has-text-right {
  text-align: right !important; }

@media screen and (max-width: 768px) {
  .has-text-centered-mobile {
    text-align: center !important; } }

@media screen and (min-width: 769px), print {
  .has-text-centered-tablet {
    text-align: center !important; } }

@media screen and (min-width: 769px) and (max-width: 1087px) {
  .has-text-centered-tablet-only {
    text-align: center !important; } }

@media screen and (max-width: 1087px) {
  .has-text-centered-touch {
    text-align: center !important; } }

@media screen and (min-width: 1088px) {
  .has-text-centered-desktop {
    text-align: center !important; } }

@media screen and (min-width: 1088px) and (max-width: 1279px) {
  .has-text-centered-desktop-only {
    text-align: center !important; } }

@media screen and (min-width: 1280px) {
  .has-text-centered-widescreen {
    text-align: center !important; } }

@media screen and (min-width: 1280px) and (max-width: 1471px) {
  .has-text-centered-widescreen-only {
    text-align: center !important; } }

@media screen and (min-width: 1472px) {
  .has-text-centered-fullhd {
    text-align: center !important; } }

@media screen and (max-width: 768px) {
  .has-text-justified-mobile {
    text-align: justify !important; } }

@media screen and (min-width: 769px), print {
  .has-text-justified-tablet {
    text-align: justify !important; } }

@media screen and (min-width: 769px) and (max-width: 1087px) {
  .has-text-justified-tablet-only {
    text-align: justify !important; } }

@media screen and (max-width: 1087px) {
  .has-text-justified-touch {
    text-align: justify !important; } }

@media screen and (min-width: 1088px) {
  .has-text-justified-desktop {
    text-align: justify !important; } }

@media screen and (min-width: 1088px) and (max-width: 1279px) {
  .has-text-justified-desktop-only {
    text-align: justify !important; } }

@media screen and (min-width: 1280px) {
  .has-text-justified-widescreen {
    text-align: justify !important; } }

@media screen and (min-width: 1280px) and (max-width: 1471px) {
  .has-text-justified-widescreen-only {
    text-align: justify !important; } }

@media screen and (min-width: 1472px) {
  .has-text-justified-fullhd {
    text-align: justify !important; } }

@media screen and (max-width: 768px) {
  .has-text-left-mobile {
    text-align: left !important; } }

@media screen and (min-width: 769px), print {
  .has-text-left-tablet {
    text-align: left !important; } }

@media screen and (min-width: 769px) and (max-width: 1087px) {
  .has-text-left-tablet-only {
    text-align: left !important; } }

@media screen and (max-width: 1087px) {
  .has-text-left-touch {
    text-align: left !important; } }

@media screen and (min-width: 1088px) {
  .has-text-left-desktop {
    text-align: left !important; } }

@media screen and (min-width: 1088px) and (max-width: 1279px) {
  .has-text-left-desktop-only {
    text-align: left !important; } }

@media screen and (min-width: 1280px) {
  .has-text-left-widescreen {
    text-align: left !important; } }

@media screen and (min-width: 1280px) and (max-width: 1471px) {
  .has-text-left-widescreen-only {
    text-align: left !important; } }

@media screen and (min-width: 1472px) {
  .has-text-left-fullhd {
    text-align: left !important; } }

@media screen and (max-width: 768px) {
  .has-text-right-mobile {
    text-align: right !important; } }

@media screen and (min-width: 769px), print {
  .has-text-right-tablet {
    text-align: right !important; } }

@media screen and (min-width: 769px) and (max-width: 1087px) {
  .has-text-right-tablet-only {
    text-align: right !important; } }

@media screen and (max-width: 1087px) {
  .has-text-right-touch {
    text-align: right !important; } }

@media screen and (min-width: 1088px) {
  .has-text-right-desktop {
    text-align: right !important; } }

@media screen and (min-width: 1088px) and (max-width: 1279px) {
  .has-text-right-desktop-only {
    text-align: right !important; } }

@media screen and (min-width: 1280px) {
  .has-text-right-widescreen {
    text-align: right !important; } }

@media screen and (min-width: 1280px) and (max-width: 1471px) {
  .has-text-right-widescreen-only {
    text-align: right !important; } }

@media screen and (min-width: 1472px) {
  .has-text-right-fullhd {
    text-align: right !important; } }

.is-capitalized {
  text-transform: capitalize !important; }

.is-lowercase {
  text-transform: lowercase !important; }

.is-uppercase {
  text-transform: uppercase !important; }

.is-italic {
  font-style: italic !important; }

.has-text-white {
  color: #fefefe !important; }

a.has-text-white:hover, a.has-text-white:focus {
  color: #e5e5e5 !important; }

.has-background-white {
  background-color: #fefefe !important; }

.has-text-black {
  color: #0a0a0a !important; }

a.has-text-black:hover, a.has-text-black:focus {
  color: black !important; }

.has-background-black {
  background-color: #0a0a0a !important; }

.has-text-light {
  color: whitesmoke !important; }

a.has-text-light:hover, a.has-text-light:focus {
  color: #dbdbdb !important; }

.has-background-light {
  background-color: whitesmoke !important; }

.has-text-dark {
  color: #363636 !important; }

a.has-text-dark:hover, a.has-text-dark:focus {
  color: #1c1c1c !important; }

.has-background-dark {
  background-color: #363636 !important; }

.has-text-primary {
  color: #1f5c7a !important; }

a.has-text-primary:hover, a.has-text-primary:focus {
  color: #143d52 !important; }

.has-background-primary {
  background-color: #1f5c7a !important; }

.has-text-link {
  color: #3273dc !important; }

a.has-text-link:hover, a.has-text-link:focus {
  color: #205bbc !important; }

.has-background-link {
  background-color: #3273dc !important; }

.has-text-info {
  color: #209cee !important; }

a.has-text-info:hover, a.has-text-info:focus {
  color: #0f81cc !important; }

.has-background-info {
  background-color: #209cee !important; }

.has-text-success {
  color: #23d160 !important; }

a.has-text-success:hover, a.has-text-success:focus {
  color: #1ca64c !important; }

.has-background-success {
  background-color: #23d160 !important; }

.has-text-warning {
  color: #ffdd57 !important; }

a.has-text-warning:hover, a.has-text-warning:focus {
  color: #ffd324 !important; }

.has-background-warning {
  background-color: #ffdd57 !important; }

.has-text-danger {
  color: #ff3860 !important; }

a.has-text-danger:hover, a.has-text-danger:focus {
  color: #ff0537 !important; }

.has-background-danger {
  background-color: #ff3860 !important; }

.has-text-black-bis {
  color: #121212 !important; }

.has-background-black-bis {
  background-color: #121212 !important; }

.has-text-black-ter {
  color: #242424 !important; }

.has-background-black-ter {
  background-color: #242424 !important; }

.has-text-grey-darker {
  color: #363636 !important; }

.has-background-grey-darker {
  background-color: #363636 !important; }

.has-text-grey-dark {
  color: #4a4a4a !important; }

.has-background-grey-dark {
  background-color: #4a4a4a !important; }

.has-text-grey {
  color: #7a7a7a !important; }

.has-background-grey {
  background-color: #7a7a7a !important; }

.has-text-grey-light {
  color: #b5b5b5 !important; }

.has-background-grey-light {
  background-color: #b5b5b5 !important; }

.has-text-grey-lighter {
  color: #dbdbdb !important; }

.has-background-grey-lighter {
  background-color: #dbdbdb !important; }

.has-text-white-ter {
  color: whitesmoke !important; }

.has-background-white-ter {
  background-color: whitesmoke !important; }

.has-text-white-bis {
  color: #fafafa !important; }

.has-background-white-bis {
  background-color: #fafafa !important; }

.has-text-weight-light {
  font-weight: 300 !important; }

.has-text-weight-normal {
  font-weight: 400 !important; }

.has-text-weight-semibold {
  font-weight: 600 !important; }

.has-text-weight-bold {
  font-weight: 700 !important; }

.is-family-primary {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important; }

.is-family-secondary {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important; }

.is-family-sans-serif {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important; }

.is-family-monospace {
  font-family: monospace !important; }

.is-family-code {
  font-family: monospace !important; }

.is-block {
  display: block !important; }

@media screen and (max-width: 768px) {
  .is-block-mobile {
    display: block !important; } }

@media screen and (min-width: 769px), print {
  .is-block-tablet {
    display: block !important; } }

@media screen and (min-width: 769px) and (max-width: 1087px) {
  .is-block-tablet-only {
    display: block !important; } }

@media screen and (max-width: 1087px) {
  .is-block-touch {
    display: block !important; } }

@media screen and (min-width: 1088px) {
  .is-block-desktop {
    display: block !important; } }

@media screen and (min-width: 1088px) and (max-width: 1279px) {
  .is-block-desktop-only {
    display: block !important; } }

@media screen and (min-width: 1280px) {
  .is-block-widescreen {
    display: block !important; } }

@media screen and (min-width: 1280px) and (max-width: 1471px) {
  .is-block-widescreen-only {
    display: block !important; } }

@media screen and (min-width: 1472px) {
  .is-block-fullhd {
    display: block !important; } }

.is-flex {
  display: flex !important; }

@media screen and (max-width: 768px) {
  .is-flex-mobile {
    display: flex !important; } }

@media screen and (min-width: 769px), print {
  .is-flex-tablet {
    display: flex !important; } }

@media screen and (min-width: 769px) and (max-width: 1087px) {
  .is-flex-tablet-only {
    display: flex !important; } }

@media screen and (max-width: 1087px) {
  .is-flex-touch {
    display: flex !important; } }

@media screen and (min-width: 1088px) {
  .is-flex-desktop {
    display: flex !important; } }

@media screen and (min-width: 1088px) and (max-width: 1279px) {
  .is-flex-desktop-only {
    display: flex !important; } }

@media screen and (min-width: 1280px) {
  .is-flex-widescreen {
    display: flex !important; } }

@media screen and (min-width: 1280px) and (max-width: 1471px) {
  .is-flex-widescreen-only {
    display: flex !important; } }

@media screen and (min-width: 1472px) {
  .is-flex-fullhd {
    display: flex !important; } }

.is-inline {
  display: inline !important; }

@media screen and (max-width: 768px) {
  .is-inline-mobile {
    display: inline !important; } }

@media screen and (min-width: 769px), print {
  .is-inline-tablet {
    display: inline !important; } }

@media screen and (min-width: 769px) and (max-width: 1087px) {
  .is-inline-tablet-only {
    display: inline !important; } }

@media screen and (max-width: 1087px) {
  .is-inline-touch {
    display: inline !important; } }

@media screen and (min-width: 1088px) {
  .is-inline-desktop {
    display: inline !important; } }

@media screen and (min-width: 1088px) and (max-width: 1279px) {
  .is-inline-desktop-only {
    display: inline !important; } }

@media screen and (min-width: 1280px) {
  .is-inline-widescreen {
    display: inline !important; } }

@media screen and (min-width: 1280px) and (max-width: 1471px) {
  .is-inline-widescreen-only {
    display: inline !important; } }

@media screen and (min-width: 1472px) {
  .is-inline-fullhd {
    display: inline !important; } }

.is-inline-block {
  display: inline-block !important; }

@media screen and (max-width: 768px) {
  .is-inline-block-mobile {
    display: inline-block !important; } }

@media screen and (min-width: 769px), print {
  .is-inline-block-tablet {
    display: inline-block !important; } }

@media screen and (min-width: 769px) and (max-width: 1087px) {
  .is-inline-block-tablet-only {
    display: inline-block !important; } }

@media screen and (max-width: 1087px) {
  .is-inline-block-touch {
    display: inline-block !important; } }

@media screen and (min-width: 1088px) {
  .is-inline-block-desktop {
    display: inline-block !important; } }

@media screen and (min-width: 1088px) and (max-width: 1279px) {
  .is-inline-block-desktop-only {
    display: inline-block !important; } }

@media screen and (min-width: 1280px) {
  .is-inline-block-widescreen {
    display: inline-block !important; } }

@media screen and (min-width: 1280px) and (max-width: 1471px) {
  .is-inline-block-widescreen-only {
    display: inline-block !important; } }

@media screen and (min-width: 1472px) {
  .is-inline-block-fullhd {
    display: inline-block !important; } }

.is-inline-flex {
  display: inline-flex !important; }

@media screen and (max-width: 768px) {
  .is-inline-flex-mobile {
    display: inline-flex !important; } }

@media screen and (min-width: 769px), print {
  .is-inline-flex-tablet {
    display: inline-flex !important; } }

@media screen and (min-width: 769px) and (max-width: 1087px) {
  .is-inline-flex-tablet-only {
    display: inline-flex !important; } }

@media screen and (max-width: 1087px) {
  .is-inline-flex-touch {
    display: inline-flex !important; } }

@media screen and (min-width: 1088px) {
  .is-inline-flex-desktop {
    display: inline-flex !important; } }

@media screen and (min-width: 1088px) and (max-width: 1279px) {
  .is-inline-flex-desktop-only {
    display: inline-flex !important; } }

@media screen and (min-width: 1280px) {
  .is-inline-flex-widescreen {
    display: inline-flex !important; } }

@media screen and (min-width: 1280px) and (max-width: 1471px) {
  .is-inline-flex-widescreen-only {
    display: inline-flex !important; } }

@media screen and (min-width: 1472px) {
  .is-inline-flex-fullhd {
    display: inline-flex !important; } }

.is-hidden {
  display: none !important; }

.is-sr-only {
  border: none !important;
  clip: rect(0, 0, 0, 0) !important;
  height: 0.01em !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 0.01em !important; }

@media screen and (max-width: 768px) {
  .is-hidden-mobile {
    display: none !important; } }

@media screen and (min-width: 769px), print {
  .is-hidden-tablet {
    display: none !important; } }

@media screen and (min-width: 769px) and (max-width: 1087px) {
  .is-hidden-tablet-only {
    display: none !important; } }

@media screen and (max-width: 1087px) {
  .is-hidden-touch {
    display: none !important; } }

@media screen and (min-width: 1088px) {
  .is-hidden-desktop {
    display: none !important; } }

@media screen and (min-width: 1088px) and (max-width: 1279px) {
  .is-hidden-desktop-only {
    display: none !important; } }

@media screen and (min-width: 1280px) {
  .is-hidden-widescreen {
    display: none !important; } }

@media screen and (min-width: 1280px) and (max-width: 1471px) {
  .is-hidden-widescreen-only {
    display: none !important; } }

@media screen and (min-width: 1472px) {
  .is-hidden-fullhd {
    display: none !important; } }

.is-invisible {
  visibility: hidden !important; }

@media screen and (max-width: 768px) {
  .is-invisible-mobile {
    visibility: hidden !important; } }

@media screen and (min-width: 769px), print {
  .is-invisible-tablet {
    visibility: hidden !important; } }

@media screen and (min-width: 769px) and (max-width: 1087px) {
  .is-invisible-tablet-only {
    visibility: hidden !important; } }

@media screen and (max-width: 1087px) {
  .is-invisible-touch {
    visibility: hidden !important; } }

@media screen and (min-width: 1088px) {
  .is-invisible-desktop {
    visibility: hidden !important; } }

@media screen and (min-width: 1088px) and (max-width: 1279px) {
  .is-invisible-desktop-only {
    visibility: hidden !important; } }

@media screen and (min-width: 1280px) {
  .is-invisible-widescreen {
    visibility: hidden !important; } }

@media screen and (min-width: 1280px) and (max-width: 1471px) {
  .is-invisible-widescreen-only {
    visibility: hidden !important; } }

@media screen and (min-width: 1472px) {
  .is-invisible-fullhd {
    visibility: hidden !important; } }

.is-marginless {
  margin: 0 !important; }

.is-paddingless {
  padding: 0 !important; }

.is-radiusless {
  border-radius: 0 !important; }

.is-shadowless {
  box-shadow: none !important; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1`&'p' font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  margin-top: 2em;
  margin-bottom: 2em;
  border: none;
  border-bottom: 1px dashed #cacaca; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

sup {
  font-size: .6em;
  opacity: .6; }

p {
  text-align: justify; }

html {
  font-size: 16px;
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "PingFang SC", "Hiragino Sans GB", "STHeiti Light", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.9;
  color: rgba(0, 0, 0, 0.7);
  background: #fefefe;
  scroll-behavior: smooth;
  vertical-align: baseline; }

img {
  max-width: 80%;
  display: block;
  margin: auto;
  padding: 5px; }

figure {
  padding: 5px 0;
  margin: auto; }

figure figcaption p {
  text-align: center;
  margin: 0;
  font-size: .8rem; }

iframe {
  display: block;
  margin: auto; }

a {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none; }

.content-wrapper {
  padding: 0 20px; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.btn {
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  margin-top: 1em;
  color: rgba(0, 0, 0, 0.7);
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  text-decoration: none; }
  .btn:hover {
    color: #fefefe;
    border-color: #3399cc;
    background: #3399cc;
    transition: .2s ease-out; }

#content {
  margin: 0 auto;
  width: 90%;
  max-width: 800px; }

#primary.home {
  width: 73%;
  float: left; }

#primary {
  max-width: 850px;
  margin: 0 auto; }

@media only screen and (max-width: 700px) {
  .site-header-inner, .content {
    width: 90%; }
  #secondary {
    display: none; }
  #primary.home {
    width: 100%; } }

.header {
  padding: 20px 20px; }
  .header:before, .header:after {
    content: " ";
    display: table; }
  .header:after {
    clear: both; }

@media only screen and (max-width: 700px) {
  .header {
    padding: 20px 0 0;
    text-align: center; } }

#masthead {
  z-index: 9;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15); }

.site-header-inner {
  height: 65px;
  line-height: 65px;
  max-width: 800px;
  margin: 0 auto;
  width: 90%; }

.site-title {
  text-align: left;
  display: inline-block;
  margin: 0 auto;
  font-weight: bold;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.7); }

#nav-top {
  float: right; }
  #nav-top .nav-top-items {
    list-style: none;
    padding-left: 0px;
    margin: 0 auto; }
    #nav-top .nav-top-items .menu-item {
      font-size: 16px;
      margin-left: 30px;
      display: inline-block;
      display: inline-block;
      vertical-align: middle;
      transform: translateZ(0);
      backface-visibility: hidden;
      box-shadow: 0 0 1px transparent;
      position: relative;
      overflow: hidden; }
      #nav-top .nav-top-items .menu-item:before {
        content: '';
        position: absolute;
        z-index: -1;
        height: 1px;
        bottom: 0;
        left: 51%;
        right: 51%;
        background: #3399cc;
        transition-duration: 0.2s;
        transition-property: right, left;
        transition-timing-function: ease-out; }
      #nav-top .nav-top-items .menu-item.active:before, #nav-top .nav-top-items .menu-item:active:before, #nav-top .nav-top-items .menu-item:focus:before, #nav-top .nav-top-items .menu-item:hover:before {
        right: 0;
        left: 0; }
      #nav-top .nav-top-items .menu-item a {
        color: rgba(0, 0, 0, 0.6); }

.posts {
  margin-bottom: 20px;
  border-bottom: 1px solid #eee; }

.post {
  padding: 40px 0; }
  .post + .post {
    border-top: 1px solid #eee; }
  .post .post-header .post-title {
    margin: 0 0 10px;
    line-height: 1.4;
    font-size: 1.3em;
    font-weight: bold; }
    .post .post-header .post-title .post-link:hover {
      transition: 0.2s ease-out;
      color: #3399cc; }
  .post .post-time {
    color: #aaa;
    display: block;
    font-size: 14px;
    margin-bottom: 10px; }
  .post .post-excerpt p {
    margin: 0 0 16px; }
  .post .post-toc {
    z-index: 9;
    position: fixed;
    top: 100px;
    width: 225px;
    margin-left: 815px;
    padding: 10px;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "PingFang SC", "Hiragino Sans GB", "STHeiti Light", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    border-radius: 5px;
    background: rgba(248, 248, 248, 0.6);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
    word-wrap: break-word;
    box-sizing: border-box; }
    .post .post-toc .post-toc-content {
      font-size: 0.8rem; }
      .post .post-toc .post-toc-content .toc,
      .post .post-toc .post-toc-content .toc-child {
        list-style: disc; }
      .post .post-toc .post-toc-content .toc {
        margin: 0;
        padding-right: 5px;
        padding-left: 20px; }
        .post .post-toc .post-toc-content .toc .toc-child {
          padding: 0 0 0 1rem; }
      .post .post-toc .post-toc-content .toc-link.active {
        color: #3399cc; }
  @media only screen and (max-width: 700px) {
    .post .post-toc {
      display: none; } }
  .post .post-content {
    margin-bottom: 40px; }
    .post .post-content .toc {
      padding: 10px;
      border-radius: 5px;
      background: rgba(248, 248, 248, 0.5);
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125); }
      .post .post-content .toc ul {
        padding-left: 20px;
        margin: 3px 0px; }
    .post .post-content .toc:before {
      content: "Contents";
      font-weight: bold; }
    .post .post-content .headerlink:hover {
      border-bottom: 0; }
    .post .post-content .headerlink::before {
      margin-right: 5px;
      font-size: 1.1em;
      color: #3399cc; }
    .post .post-content a {
      color: #3399cc;
      word-break: break-all; }
      .post .post-content a:hover {
        border-bottom: 1px solid #3399cc; }
      .post .post-content a.fancybox {
        border: 0; }
    .post .post-content blockquote {
      margin: 2em 0;
      padding-left: 10px;
      position: relative;
      color: rgba(0, 0, 0, 0.6);
      background-color: #fff;
      border-left: 2px solid #aaa; }
      .post .post-content blockquote p {
        margin: 0; }
    .post .post-content table {
      max-width: 100%;
      margin: 10px 0;
      border-spacing: 0; }
      .post .post-content table th, .post .post-content table td {
        padding: 5px 15px;
        border: 1px double #f0f0f0;
        text-align: left; }
    .post .post-content code, .post .post-content pre {
      padding: 7px;
      font-size: 13px;
      font-family: Menlo, "Lucida Console", Monaco, Consolas, monospace;
      background: #F8F8F8; }
    .post .post-content code {
      padding: 3px 5px;
      color: #000; }
    .post .post-content .highlight {
      margin: 1em 0;
      overflow-x: auto;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125); }
      .post .post-content .highlight table {
        position: relative; }
        .post .post-content .highlight table::after {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          padding: 2px 7px;
          font-size: 13px;
          font-weight: bold;
          color: #cacaca;
          background: #f0f0f0;
          content: 'Code'; }
      .post .post-content .highlight.html > ::after {
        content: "HTML"; }
      .post .post-content .highlight.js > ::after {
        content: "JavaScript"; }
      .post .post-content .highlight.bash > ::after {
        content: "Bash"; }
      .post .post-content .highlight.css > ::after {
        content: "CSS"; }
      .post .post-content .highlight.scss > ::after {
        content: "Scss"; }
      .post .post-content .highlight.java > ::after {
        content: "Java"; }
      .post .post-content .highlight.xml > ::after {
        content: "XML"; }
      .post .post-content .highlight.python > ::after {
        content: "Python"; }
      .post .post-content .highlight.json > ::after {
        content: "JSON"; }
      .post .post-content .highlight.swift > ::after {
        content: "Swift"; }
      .post .post-content .highlight.ruby > ::after {
        content: "Ruby"; }
      .post .post-content .highlight.php > ::after {
        content: "PHP"; }
      .post .post-content .highlight.c > ::after {
        content: "C"; }
      .post .post-content .highlight.cpp > ::after {
        content: "C++"; }
      .post .post-content .highlight.scheme > ::after {
        content: "Scheme"; }
      .post .post-content .highlight.objectivec > ::after {
        content: "Objective-C"; }
      .post .post-content .highlight.yml > ::after {
        content: "YAML"; }
      .post .post-content .highlight.stylus > ::after {
        content: "Stylus"; }
      .post .post-content .highlight .code pre {
        margin: 0;
        padding: 30px 10px 10px; }
      .post .post-content .highlight .gutter {
        width: 10px;
        color: #cacaca; }
        .post .post-content .highlight .gutter pre {
          margin: 0;
          padding: 30px 7px 10px; }
      .post .post-content .highlight .line {
        height: 20px; }
      .post .post-content .highlight table, .post .post-content .highlight tr, .post .post-content .highlight td {
        margin: 0;
        padding: 0;
        width: 100%;
        border-collapse: collapse; }
      .post .post-content .highlight .code .comment,
      .post .post-content .highlight .code .quote {
        color: #93a1a1; }
      .post .post-content .highlight .code .keyword,
      .post .post-content .highlight .code .selector-tag,
      .post .post-content .highlight .code .addition {
        color: #859900; }
      .post .post-content .highlight .code .number,
      .post .post-content .highlight .code .string,
      .post .post-content .highlight .code .meta .meta-string,
      .post .post-content .highlight .code .literal,
      .post .post-content .highlight .code .doctag,
      .post .post-content .highlight .code .regexp {
        color: #2aa198; }
      .post .post-content .highlight .code .attribute,
      .post .post-content .highlight .code .attr,
      .post .post-content .highlight .code .variable,
      .post .post-content .highlight .code .template-variable,
      .post .post-content .highlight .code .class .title,
      .post .post-content .highlight .code .type {
        color: #b58900; }
      .post .post-content .highlight .code .symbol,
      .post .post-content .highlight .code .bullet,
      .post .post-content .highlight .code .subst,
      .post .post-content .highlight .code .meta,
      .post .post-content .highlight .code .meta .keyword,
      .post .post-content .highlight .code .selector-attr,
      .post .post-content .highlight .code .selector-pseudo,
      .post .post-content .highlight .code .link {
        color: #cb4b16; }
      .post .post-content .highlight .code .built_in,
      .post .post-content .highlight .code .deletion {
        color: #dc322f; }
    .post .post-content .read-more .read-more-link {
      color: #3399cc;
      font-size: 1.1em; }
      .post .post-content .read-more .read-more-link:hover {
        border-bottom: 1px solid #3399cc; }
  .post .post-footer {
    margin-top: 20px;
    border-top: 1px solid #eee; }
    .post .post-footer .post-tags {
      padding: 15px 0; }
      .post .post-footer .post-tags a {
        margin-right: 5px;
        color: #3399cc;
        word-break: break-all; }
        .post .post-footer .post-tags a::before {
          content: '#'; }
    .post .post-footer .post-nav {
      margin: 1em 0; }
      .post .post-footer .post-nav:before, .post .post-footer .post-nav:after {
        content: " ";
        display: table; }
      .post .post-footer .post-nav:after {
        clear: both; }
      .post .post-footer .post-nav .prev,
      .post .post-footer .post-nav .next {
        font-weight: 400;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.7);
        transition-property: transform;
        transition-timing-function: ease-out;
        transition-duration: 0.3s; }
      .post .post-footer .post-nav .prev {
        float: left; }
        .post .post-footer .post-nav .prev:hover {
          color: #3399cc;
          transform: translateX(-4px); }
      .post .post-footer .post-nav .next {
        float: right; }
        .post .post-footer .post-nav .next:hover {
          color: #3399cc;
          transform: translateX(4px); }
      .post .post-footer .post-nav .nav-mobile {
        display: none; }
  @media only screen and (max-width: 700px) {
    .post .post-footer .post-nav .nav-default {
      display: none; }
    .post .post-footer .post-nav .nav-mobile {
      display: inline; } }

.pagination {
  padding-bottom: 1.2em; }
  .pagination:before, .pagination:after {
    content: " ";
    display: table; }
  .pagination:after {
    clear: both; }
  .pagination .prev,
  .pagination .next {
    font-weight: 400;
    font-size: 16px;
    transition-property: transform;
    transition-timing-function: ease-out;
    transition-duration: 0.3s; }
  .pagination .prev {
    float: left; }
    .pagination .prev:hover {
      color: #3399cc;
      transform: translateX(-4px); }
  .pagination .next {
    float: right; }
    .pagination .next:hover {
      color: #3399cc;
      transform: translateX(4px); }

#secondary {
  width: 19%;
  float: right;
  padding-top: 40px;
  color: rgba(0, 0, 0, 0.6); }
  #secondary ol, #secondary ul {
    list-style: none; }

.widget-area {
  font-size: 14px; }
  .widget-area ul {
    padding-left: 0; }
  .widget-area h3 {
    margin-top: 0;
    color: #000; }
  .widget-area .widget-title {
    font-size: 16px;
    letter-spacing: 1px;
    padding-bottom: 5px;
    font-weight: 300;
    border-bottom: 1px solid #ddd; }
  .widget-area .category-list-item {
    line-height: 1.9; }
    .widget-area .category-list-item .category-list-link {
      color: rgba(0, 0, 0, 0.6); }
    .widget-area .category-list-item .category-list-count {
      padding-left: 5px;
      color: #999;
      font-size: 0.85em; }
    .widget-area .category-list-item .category-list-count:before {
      content: "("; }
    .widget-area .category-list-item .category-list-count:after {
      content: ")"; }

.widget-area + .widget-area {
  margin-top: 30px; }

.widget_tags .tag-list-item {
  padding: 0 10px 7px 0;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  background: #fff; }
  .widget_tags .tag-list-item:hover {
    transition: 0.2s ease-out;
    color: #3399cc; }
  .widget_tags .tag-list-item .tag-list-link {
    color: rgba(0, 0, 0, 0.6); }
    .widget_tags .tag-list-item .tag-list-link:hover {
      transition: 0.2s ease-out;
      color: #3399cc; }

.widget_tags .tag-list-count {
  vertical-align: super;
  font-size: .6em;
  opacity: .6;
  top: -0.5em; }

.footer {
  margin-top: 2em; }

#colophon {
  width: 90%;
  margin: 30px auto 0;
  padding: 20px 0;
  border-top: 1px solid #eee;
  color: #aaa;
  font-size: 14px;
  max-width: 800px;
  display: block;
  overflow: hidden; }
  #colophon a {
    color: #aaa; }
  #colophon .footer-author {
    margin: 0 4px; }

.archive {
  margin: 2em 0px;
  line-height: 1.6; }
  .archive .archive-post + .collection-title {
    margin-top: 15px; }
  .archive .archive-title.tag, .archive .archive-title.category {
    margin: 15px 0; }
  .archive .archive-title .archive-name {
    margin: 0;
    display: inline-block;
    font-weight: 400;
    font-size: 29px;
    line-height: 31px; }
  .archive .collection-title {
    font-size: 29px; }
    .archive .collection-title .archive-year {
      margin: 5px 0;
      font-weight: 400;
      font-size: 29px;
      line-height: 34px; }
  .archive .archive-post {
    margin: 5px 0; }
    .archive .archive-post .archive-post-time {
      float: left;
      overflow: hidden;
      color: #aaa;
      font-size: 14px;
      line-height: 25px;
      display: block; }
    .archive .archive-post .archive-post-title {
      margin-left: 100px;
      display: block; }
      .archive .archive-post .archive-post-title .archive-post-link {
        color: rgba(0, 0, 0, 0.7); }
    .archive .archive-post::first-child {
      margin-top: 20px; }
    .archive .archive-post:hover {
      transition: 0.2s ease-out;
      transform: translateX(4px); }
      .archive .archive-post:hover .archive-post-time {
        color: #3399cc; }
      .archive .archive-post:hover .archive-post-title .archive-post-link {
        color: #3399cc; }

.back-to-top {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 20px;
  transition: transform 0.2s ease-out;
  z-index: 10; }
  .back-to-top:hover {
    transform: translateY(-5px); }

@media only screen and (max-width: 700px) {
  .back-to-top {
    display: none !important; } }

.box {
  background-color: #fefefe;
  border-radius: 6px;
  box-shadow: 0 0 0 1px #dbdbdb;
  color: #4a4a4a;
  display: block;
  padding: 1.25rem; }

a.box:hover, a.box:focus {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px #3273dc; }

a.box:active {
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2), 0 0 0 1px #3273dc; }

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem; }
  .icon.is-small {
    height: 1rem;
    width: 1rem; }
  .icon.is-medium {
    height: 2rem;
    width: 2rem; }
  .icon.is-large {
    height: 3rem;
    width: 3rem; }

.notification {
  background-color: whitesmoke;
  border-radius: 4px;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
  position: relative; }
  .notification a:not(.button):not(.dropdown-item) {
    color: currentColor;
    text-decoration: underline; }
  .notification strong {
    color: currentColor; }
  .notification code,
  .notification pre {
    background: #fefefe; }
  .notification pre code {
    background: transparent; }
  .notification > .delete {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem; }
  .notification .title,
  .notification .subtitle,
  .notification .content {
    color: currentColor; }
  .notification.is-white {
    background-color: #fefefe;
    color: #0a0a0a; }
  .notification.is-black {
    background-color: #0a0a0a;
    color: #fefefe; }
  .notification.is-light {
    background-color: whitesmoke;
    color: #363636; }
  .notification.is-dark {
    background-color: #363636;
    color: whitesmoke; }
  .notification.is-primary {
    background-color: #1f5c7a;
    color: #fff; }
  .notification.is-link {
    background-color: #3273dc;
    color: #fff; }
  .notification.is-info {
    background-color: #209cee;
    color: #fff; }
  .notification.is-success {
    background-color: #23d160;
    color: #fff; }
  .notification.is-warning {
    background-color: #ffdd57;
    color: rgba(0, 0, 0, 0.7); }
  .notification.is-danger {
    background-color: #ff3860;
    color: #fff; }

h1 {
  font-size: 1.7rem;
  font-weight: bold;
  margin: 1rem 0 0 0; }

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0 0 0; }

h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 1rem 0 0 0; }

h4 {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 1rem 0 0 0; }

h5 {
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem 0 0 0; }

h6 {
  font-size: 0.9rem;
  font-weight: bold;
  margin: 1rem 0 0 0; }

h2, h3 {
  padding-bottom: 2px;
  border-bottom: 1px dashed #cacaca; }

h5 {
  color: #aaa; }

h6 {
  color: #aaa;
  font-style: italic; }

.button {
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  margin-top: 1em;
  color: rgba(0, 0, 0, 0.7);
  background: transparent;
  border: 1px solid rgba(128, 128, 128, 0.7);
  border-radius: 5px;
  text-decoration: none; }
  .button:hover {
    color: #fefefe;
    border-color: #297aa3;
    background: #297aa3;
    transition: .15s ease-out; }

.post-toc h4 {
  margin: 0; }

ol {
  padding: .5rem 2rem; }

ol.toc {
  padding: 0; }

hr {
  background-color: transparent; }

#content {
  margin-top: 70px; }

.archive {
  margin-top: 100px; }

html {
  scroll-behavior: smooth; }

.tag-list {
  padding-top: 5px; }

#masthead {
  position: fixed;
  background-color: #fefefe; }

.highlight {
  padding: 0; }

.toc-link:hover {
  color: #3399cc;
  transform: translateX(4px);
  transition-duration: 0.3s; }

#post-toc h4 {
  font-size: 1rem; }

.post-content a.icon {
  color: inherit; }
  .post-content a.icon:hover {
    border-bottom: 0;
    color: #3399cc; }
  .post-content a.icon i {
    font-size: 24px; }

.katex-display > .katex {
  max-width: 100%; }

.katex-display > .katex > .katex-html {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding-left: 2px;
  padding-right: 2px; }
